<c-card>
    <c-card-body>
        <form [formGroup]="form" cForm class="row g-3"  enctype="multipart/form-data" (ngSubmit)="submitForm()">

            <c-col [md]="1"><label cLabel for="title"><h5>Title</h5></label></c-col>
            <c-col [md]="4">
                <input 
                cFormControl 
                formControlName="title" 
                id="title" 
                type="text" 
                placeholder="Title" />
            </c-col>
            <c-col [md]="2"><label cLabel for="langId"><h5>Language</h5></label></c-col>
            
            <c-col [md]="5">
                <select 
                    aria-label="Default select example" 
                    cSelect
                    cFormControl 
                    id="langId" 
                    formControlName="langId"
                    placeholder="Select language"
                    >
                        <option value="Amharic">Amharic</option>
                        <option value="English">English</option>
                </select>
            </c-col>

            <c-col [md]="2"><label cLabel for="description"><h5>Description</h5></label></c-col>
            <c-col [md]="10">
                <textarea 
                    cFormControl 
                    id="description" 
                    rows="3"
                    formControlName="description"
                ></textarea>
            </c-col>
            <c-row>
                <div>
                    <c-row>
                      <c-col [md]="1"></c-col>
                      <c-col [md]="10">
                        <img class="form-image"height="100" width="100" [src]="imagePath">
                      </c-col>
                    </c-row>
                </div>
            </c-row>
            <c-col [md]="1"><label cLabel for="image"><h5>Image</h5></label></c-col>
            <c-col [md]="4">
                <input 
                    cFormControl 
                    id="image" 
                    type="file" 
                    (change)="uploadFile($event)"
                />
            </c-col>
            <c-col [md]="2"><label cLabel for="catagoryId"><h5>Catagory</h5></label></c-col>
            <c-col [md]="5">
                <select 
                    aria-label="Default select example" 
                    cSelect
                    cFormControl 
                    id="catagoryId" 
                    formControlName="catagoryId"
                    placeholder="Select Catagory"
                    >
                        <option value="Amharic">Amharic</option>
                        <option value="English">English</option>
                </select>
            </c-col>
            <c-col [xs]="12">
              <button cButton type="submit">Submit</button>
            </c-col>
          </form>
    </c-card-body>
</c-card>