<c-row>
    <c-col sm="6" xl="3">
      <c-widget-stat-a
        class="mb-4"
        title="Users"
        style="background-color: lightgrey;"
      >
        <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        
        </ng-template>
        <ng-template cTemplateId="widgetActionTemplate">
          <c-dropdown alignment="end" variant="btn-group">
            <button [caret]="false" cButton cDropdownToggle class="p-0" color="transparent">
              <svg cIcon class="text-high-emphasis-inverse" name="cilOptions"></svg>
            </button>
            <ul cDropdownMenu>
              <li><a routerLink="./" cDropdownItem>Action</a></li>
              <li><a routerLink="./" cDropdownItem>Another action</a></li>
              <li><a routerLink="./" cDropdownItem>Something else here</a></li>
              <li>
                <hr cDropdownDivider>
              </li>
              <li>
                <button cDropdownItem>Separated link</button>
              </li>
            </ul>
          </c-dropdown>
        </ng-template>
        <ng-template cTemplateId="widgetChartTemplate">
          
        </ng-template>
      </c-widget-stat-a>
    </c-col>
    <c-col sm="6" xl="3">
      <c-widget-stat-a
        [title]="'Income'"
        class="mb-4"
       
        style="background-color:lightblue;"
      >
        <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
          
        </ng-template>
        <ng-template cTemplateId="widgetActionTemplate">
          <c-dropdown alignment="end" variant="btn-group">
            <button [caret]="false" cButton cDropdownToggle class="p-0" color="transparent">
              <svg cIcon class="text-high-emphasis-inverse" name="cilOptions"></svg>
            </button>
            <ul cDropdownMenu>
              <li><a routerLink="./" cDropdownItem>Action</a></li>
              <li><a routerLink="./" cDropdownItem>Another action</a></li>
              <li><a routerLink="./" cDropdownItem>Something else here</a></li>
              <li><a [disabled]="true" routerLink="./" cDropdownItem>Disabled</a></li>
            </ul>
          </c-dropdown>
        </ng-template>
        <ng-template cTemplateId="widgetChartTemplate">
          
        </ng-template>
      </c-widget-stat-a>
    </c-col>
    <c-col sm="6" xl="3">
      <c-widget-stat-a
        [title]="'Conversion Rate'"
        class="mb-4"
       style="background-color: rgb(207, 233, 155);"
      >
        <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
          
        </ng-template>
        <ng-template cTemplateId="widgetActionTemplate">
          <c-dropdown alignment="end" variant="btn-group">
            <button [caret]="false" cButton cDropdownToggle class="p-0" color="transparent">
              <svg cIcon class="text-high-emphasis-inverse" name="cilOptions"></svg>
            </button>
            <ul cDropdownMenu>
              <li><a routerLink="./" cDropdownItem>Action</a></li>
              <li><a routerLink="./" cDropdownItem>Another action</a></li>
              <li><a routerLink="./" cDropdownItem>Something else here</a></li>
              <li><a [disabled]="true" routerLink="./" cDropdownItem>Disabled</a></li>
            </ul>
          </c-dropdown>
        </ng-template>
        <ng-template cTemplateId="widgetChartTemplate">
               </ng-template>
      </c-widget-stat-a>
    </c-col>
    <c-col sm="6" xl="3">
      <c-widget-stat-a
        [title]="'Sessions'"
        class="mb-4"
        style="background-color: lightgoldenrodyellow;"
      >
        <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
          
        </ng-template>
        <ng-template cTemplateId="widgetActionTemplate">
          <c-dropdown alignment="end" variant="btn-group">
            <button [caret]="false" cButton cDropdownToggle class="p-0" color="transparent">
              <svg cIcon class="text-high-emphasis-inverse" name="cilOptions"></svg>
            </button>
            <ul cDropdownMenu>
              <li><a routerLink="./" cDropdownItem>Action</a></li>
              <li><a routerLink="./" cDropdownItem>Another action</a></li>
              <li><a routerLink="./" cDropdownItem>Something else here</a></li>
              <li><a [disabled]="true" routerLink="./" cDropdownItem>Disabled</a></li>
            </ul>
          </c-dropdown>
        </ng-template>
        <ng-template cTemplateId="widgetChartTemplate">
          
        </ng-template>
      </c-widget-stat-a>
    </c-col>
  </c-row>
  